@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.swiperContainer {
  padding: 3rem 1px;
  overflow: hidden;
}

.viewAll {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @include tablet {
    margin-top: 2.5rem;
  }
}
