// _variables.scss
$clr-neutral-100: rgb(255, 255, 255);
$clr-neutral-125: rgb(251, 251, 251);
$clr-neutral-150: rgb(247, 247, 247);
$clr-neutral-175: rgb(242, 242, 242);
$clr-neutral-200: rgb(238, 238, 238);
$clr-neutral-250: rgb(232, 232, 232);
$clr-neutral-275: rgb(225, 225, 225);
$clr-neutral-300: rgb(204, 204, 204);
$clr-neutral-400: rgb(179, 179, 179);
$clr-neutral-500: rgb(155, 155, 155);
$clr-neutral-600: hsl(0, 0%, 50%);
$clr-neutral-650: hsl(0, 0%, 45%);
$clr-neutral-700: hsl(0, 0%, 40%);
$clr-neutral-750: hsl(0, 0%, 35%);
$clr-neutral-800: hsl(0, 0%, 25%);
$clr-neutral-850: hsl(240, 6%, 10%);
$clr-neutral-900: hsl(240, 4%, 6%);

$clr-primary: #2f661b;
$clr-secondary: #DFC7A1;