@import "./_variables.scss";
@import "./mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;

  // font-family: var(--ff-primary);
  // font-weight: 400;
  // font-size: 1.3125rem;
  // line-height: 1.6;
  // background-image: url("abc");

  // @include tablet {
  //  background:blue;
  // }
  // @include desktop {
  //   background:red;
  // }
}

h1,
h2,
h3,
p {
  margin: 1em 0em;
}

// h1,
// h2,
// h3 {
//   color: var(--clr-primary-400);
//   font-family: var(--ff-accent);
//   font-weight: 900;
//   line-height: 1;
// }

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.header-skip {
  height: 1px;
  left: -1000px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
}

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 1200px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

.visually-hidden {
  display: none;
  visibility: hidden;
  height: 0;
  width: 0;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (min-width: 40em) {
    flex-direction: row;

    & > * {
      flex-basis: 100%;
    }

    // & > * + * {
    //   margin-left: 2em;
    // }
  }
}

.bg-gradient {
  // background-color: #213229;
  background: linear-gradient(0deg, #223329 0%, #2e392ddf 100%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(5px);
}
.glass-border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.glass-border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

main section {
  padding:4rem 0rem;
}

.bg-texture {
  background-image: url("/images/bg-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-color {
  background-color: #233329;
  background-image: url("/images/bg-color.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: center;
}

