.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem; 

  h2 {
    font-weight: bold;
    text-align: center;
  }

  ul {
    display: flex;
    padding: 0rem 1rem 1rem;
    gap: 1rem;
    list-style: none;
    margin: 0;

    li {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border: 1px solid #ddd;
      text-align: center;
    }
  }
}
