$desktopValue: 900px;
$tabletValue: 500px;

// You can add an offset to any of these
// @include tablet(30px) { ... }

@mixin tablet() {
  @media (min-width:$tabletValue) {
      @content;
  }
}
@mixin desktop() {
  @media (min-width:$desktopValue) {
      @content;
  }
}
