body {
  // background-color: rgb(24, 24, 24);
  // color:rgb(220, 220, 220);
}

.container {
  max-width:1400px;
  margin:auto;
  padding:0rem 1rem;
  & > div {
    padding-bottom:10rem;
  }
}

.visually-hidden {
  display:none;
  visibility: hidden;
  height: 0;
  width: 0;
}

.hero {
  position: relative;
  overflow: hidden;
  padding:6rem!important;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.5);
}

.hero-content {
  text-align: center;
  position: relative;
  padding: 20px;
  font-size:2rem;
  font-weight:600;
  color: white;
}

.logo {
  max-width: 900px; 
  margin: 0 auto;
  display: block;
}