@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  max-width: 1400px;
  margin: 0 auto;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}
