@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.header {
  padding: 2rem 0;

  h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-section-title);
    font-weight: 300;
    color: $clr-charcoal;
    text-align: center;
    margin-bottom: 1.5rem;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background: $clr-accent;
      margin: 1.5rem auto 0;
    }
  }

  > p {
    max-width: 600px;
    margin: 0 auto 3rem;
    text-align: center;
    line-height: 1.8;
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: $clr-charcoal-light;
    text-wrap: balance;
  }
}

.swiperContainer {
  padding: 1rem 0;
  overflow: hidden;

  @include tablet {
    padding: 2rem 0;
  }
}

.viewAll {
  display: flex;
  justify-content: center;
  margin-top: 2rem;

  @include tablet {
    margin-top: 2.5rem;
  }
}
