@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.retailersPage {
  min-height: 100vh;
}

.header {
  padding: 6rem 1.5rem 3rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  @include tablet {
    padding: 8rem 2rem 4rem;
  }

  @include desktop {
    padding: 10rem 4rem 5rem;
  }

  h1 {
    font-family: var(--ff-heading);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 300;
    color: $clr-charcoal;
    margin-bottom: 1.5rem;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background: $clr-accent;
      margin: 1.5rem auto 0;
    }
  }

  p {
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    color: $clr-charcoal-light;
    line-height: 1.8;
    text-wrap: balance;
  }
}

.mapWrapper {
  // background: $clr-primary;
  padding: 0 1.5rem 4rem;

  @include tablet {
    padding: 0 2rem 5rem;
  }

  @include desktop {
    padding: 0 4rem 6rem;
  }
}
