.header {
h2 {
  font-weight: bold;
  text-align: center;
}
p {
  max-width: 900px;
  margin:auto;
  text-align: center;
}
}

.strains {
  list-style-type: none;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
  & > * {
    scroll-snap-align: start;
  }

  .card {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    min-width:320px;
    padding:1rem;
    list-style: none;
    span {
      display:block;
    }
  }
}


.name {
  font-weight:600;
  font-size:1.5rem;
}


.strain {
  text-transform: capitalize;
  width:fit-content;
  padding:3px 6px;
  border-radius:5px;
  color:white;
}
.hybrid {
  background:rgb(28, 160, 103);
}
.sativa {
  background:rgb(222, 122, 51);
}
.indica {
  background:rgb(77, 41, 195);
}
