.footer {
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap:1rem;
  padding:1rem;
  color:white;
  svg {
    width:50px;
    height: 50px;
    color:white;
  }
}

.icons {
  display:flex;
  flex-wrap:wrap;
  gap:1rem;
  color:white;
  img {
    width:50px;
    height: 50px;
  }
}

.newsletter form{
  display:flex;
  flex-direction: column;
}