@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.asSeen {
  text-align: center;
  padding: 2rem 0;

  h2 {
    font-family: var(--ff-heading);
    font-size: var(--fs-section-title);
    font-weight: 300;
    color: $clr-charcoal;
    margin-bottom: 2.5rem;

    &::after {
      content: '';
      display: block;
      width: 40px;
      height: 1px;
      background: $clr-accent;
      margin: 1rem auto 0;
    }
  }
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem 3rem;
  padding: 0;
  margin: 0;
  list-style: none;

  @include tablet {
    gap: 2.5rem 4rem;
  }

  li {
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  span {
    display: none;
  }
}

.logo {
  display: block;
  width: 150px;
  height: auto;

}
