@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.nav {
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 999999; 
  width: 100%;
  background: linear-gradient(0deg, #223329 0%, #2e392dec 100%);
  backdrop-filter: blur(10px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 2rem;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 1rem;

  .logo {
    max-width: 225px;
    width: 100%;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center list items horizontally */
    align-items: center; /* Center list items vertically */
    gap: 1rem 2rem;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1em;
      letter-spacing: 0.15em;
      position: relative;

      &:hover {
        text-decoration: none;
        color: $clr-secondary;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: currentColor;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

