@import "@/app/variables.scss";
@import "@/app/mixins.scss";

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  .logo {
    max-width: 280px;
    width: 100%;
  }
  ul {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0px;
    margin-left: auto;
    list-style-type: none;
    @include desktop() {
      display: flex;
    }
  }
  .hamburger {
    margin-left: auto;
    width: 42px;
    height: 42px;
    &:hover {
      cursor: pointer;
    }
    @include desktop() {
      display: none;
    }
  }
}
