@import "@/app/styles/variables.scss";
@import "@/app/styles/mixins.scss";

.nav {
  position: sticky; 
  top: 0; 
  left: 0;
  z-index: 999999; 
  width: 100%;
  background: linear-gradient(0deg, #223329 0%, #2e392dec 100%);
  backdrop-filter: blur(10px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding:2rem 0rem;
  
  a {
    color: white;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .logo {
    max-width: 225px;
    width: 100%;
  }

  ul {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0px;
    margin-left: auto;
    list-style-type: none;

    li a {
      text-decoration: none;
      font-size: 1.2rem;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: currentColor;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }

    @include desktop() {
      display: flex;
    }
  }

  .hamburger {
    margin-left: auto;
    width: 42px;
    height: 42px;

    &:hover {
      cursor: pointer;
    }

    @include desktop() {
      display: none;
    }
  }
}
