@import "@/app/styles/_variables.scss";

.packaging {
  h2 {
    font-weight: bold;
    text-align: center;
    color: white;
  }

  h3 {
    color: $clr-secondary;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 20px;
    margin: 0;
  }

  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    overflow: hidden;

    .card {
      position: relative;
      background: #f4f4f4;
      border-radius: 20px;
      overflow: hidden;
      height: 490px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("/images/card-texture.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      img {
        position: relative;
        z-index: 2;
        width: 50%;
        height: auto;
        max-height: 70%;
        border-radius: 10px;
        transition: opacity 0.3s ease;
      }

      .description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000;
        font-family: Adobe Caslon Pro;
        font-size: 1.125em;
        font-style: normal;
        line-height: 150%;
        margin: auto;
        opacity: 0;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 1rem;
        text-align: center;
        vertical-align: top;
        width: 90%;
      }
    }
    &:hover {
      cursor: help;
      * {
        transition: opacity 0.3s ease-out;
      }
      .description {
        opacity: 1;
      }

      img {
        opacity: 0.1;
      }
    }
  }
}
