.packaging {
  h2 {
    font-weight: bold;
    text-align: center;
  }
 
  h3 {
    font-weight: bold;
  }

  ul {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin: 0;
  }
  
  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
  }
  
}
