.about {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap:4rem;
}

.imageSwiper {
  overflow: hidden!important;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  aspect-ratio: 1/1;
}

.textSwiper {
  text-align: center;
  height: 100%;
}

.textSlide {
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
