.header {
  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
  p {
    max-width: 900px;
    margin: auto;
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #555;
    text-wrap:balance;
  }
}

.swiperContainer {
  padding: 1rem 2rem; 
  overflow: hidden; 

  .swiper-button-prev,
  .swiper-button-next {
    color: #444;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &.swiper-button-prev {
      left: -40px; 
    }

    &.swiper-button-next {
      right: -40px; 
    }
  }

  .swiper-pagination {
    bottom: 10px;
  }
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  border:1px solid transparent;
  padding:1rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  .name,
  .strain,
  span {
    z-index: 1;
    position: relative;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: #222;
  }

  .lineage {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #555;
  }
  .strain {
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;

    &.hybrid {
      background: rgb(28, 160, 103);
    }
    &.sativa {
      background: rgb(222, 122, 51);
    }
    &.indica {
      background: rgb(77, 41, 195);
    }
  }

  /* Overlay Description */
  p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    opacity: 0; /* Hidden by default */
    visibility: hidden;
    // transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }

  /* Hover Effects */
  &:hover { 
    cursor: help;
    border-color:red;
    img {
      opacity: 0.1; /* Dim the image */
    }
  }
  
  

  &:hover p {
    opacity: 1; /* Show description with full opacity */
    visibility: visible;
    transform: scale(1);
  }
}



@media (max-width: 1024px) {
  .swiperContainer {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .card {
    img {
      width: 80px;
      height: 80px;
    }
    .name {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: 768px) {
  .swiperContainer {
    margin-top: 1rem;
  }
  .card {
    .name {
      font-size: 1.1rem;
    }
  }
}
